.hero-image {
  background-image: url('/assets/crispy_neuf_wide_blur.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 65%;
  display: flex;
  flex-direction: column;
}

.hero-text {
  margin-top: 15%;
  padding: 0 15%;
  color: white;
  text-shadow: 5px 2px 10px darkolivegreen;
  max-height: 30%;
}

.hero-title {
  font-size: 50px;
  margin: 0px;
}

.hero-subline {
  font-size: 26px;
}

//.start-action-button {
//  background-color: greenyellow;
//  border: solid 1px greenyellow;
//  font-size: 20px;
//  width: 20%;
//  height: 50px;
//  border-radius: 5px;
//  letter-spacing: 0.5px;
//  color: darkslategrey;
//  display: inline-flex;
//  justify-content: center;
//  min-width: 150px;
//}
//
//.hero-button {
//  margin: 3% 15% 10px;
//  display: flex;
//  align-items: center;
//  text-decoration: none;
//}

/*TODO: chevron right*/
.hero-button::after {
  content: ">";
}

.down-chevron {
  display: none;
}

.section-header {
  font-size: 40px;
  text-align: center;
  font-weight: normal;
  padding: 25px 5px;
  margin: 0px;
  letter-spacing: 1.5px;
  text-shadow: 5px 2px 10px darkolivegreen;
}

.how-it-works {
  min-height: 40%;
  background-color: #77ab59;
  color: #f0f7da;
}

.how-it-works-steps {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  letter-spacing: 1.15px;
  max-width: 900px;
  margin: 0 auto;
}

.teaser {
  font-size: 20px;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.teaser p {
  margin-top: 15px;
}

.arrow {
  content: url('/assets/right-arrow.png');
  width: 40px;
  height: 40px;
  padding: 15px;
  margin-top: 20px;
}

.foto {
  display: flex;
  justify-content: center;
}

.foto img {
  width: 60px;
  height: 60px;
}

.action-footer {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.how-to-use-it {
  min-height: 50%;
  background-color: #96ac86;
  color: #f0f7da;
  padding: 0 20px;
  font-size: 18px;
  border-top: 1px solid #f0f7da;
}

.how-to-use-it .section-header {
  text-shadow: 5px 2px 10px #234d20;
}

.how-to-use-it-steps {
  display: flex;
  flex-direction: column;
  align-items: left;
  letter-spacing: 1.15px;
  max-width: 900px;
  padding-bottom: 25px;
  margin: auto;
}

.how-to-use-it-steps .step {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.how-to-use-it .arrow {
  display: none;
}

.guide-foto {
  box-shadow: 1px 1px 10px 0px #435d59;
  margin: 20px 50px;
}

.guide-foto img {
  display: block;
  max-width: 350px;
  max-height: 350px;
  width: auto;
  height: auto;
}

.guide-foto p {
  width: 100%;
}

@media (max-width: 420px) {
  .hero-image {
    background-image: url('/assets/crispy_neuf_blur.jpg');
    height: 90%;
  }

  .hero-text {
    margin-top: 40%;
    padding: 0 20%;
  }

  .start-action-button {
    width: 40%;
  }

  .hero-button {
    margin: 40% auto 10px;
    display: flex;
    align-items: center;
  }

  .hero-button::after {
    content: "";
  }

  .down-chevron {
    width: 50px;
    height: 50px;
    display: block;
    margin: auto auto 0;
  }

  .section-header {
    font-size: 40px;
    text-align: center;
    font-weight: normal;
    padding: 25px 5px;
    margin: 0px;
    letter-spacing: 1.5px;
  }

  .how-it-works-steps {
    flex-direction: column;
    align-items: center;
  }

  .how-it-works {
    min-height: 40%;
    background-color: #77ab59;
    color: #f0f7da;
  }

  .arrow {
    content: url('/assets/download-arrow.png');
    margin: 0px;
    padding: 0 0 20px;
  }

  .how-to-use-it .arrow {
    display: block;
  }

  .how-to-use-it {
    min-height: 50%;
    background-color: #96ac86;
    color: #f0f7da;
    padding: 0 20px;
    font-size: 18px;
  }

  .how-to-use-it .section-header {
    text-shadow: 5px 2px 10px #234d20;
  }

  .how-to-use-it-steps {
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: 1.15px;
  }

  .how-to-use-it-steps .step {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
  }

  .guide-foto {
    box-shadow: 1px 1px 10px 0px #435d59;
    margin: 10px auto 0;
  }

  .guide-foto img {
    display: block;
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
  }
}